@import 'var';

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.sls-wrapper{
    width: 100%;
    display: block;
}

.head-wrap{
    width: 100%;
    background: $white;
    position: fixed;
    z-index: 99999999;
}

.header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    @include container;
    width: 100%;
    align-items: center;
    background: $white;

    .logo{
        padding: 1rem;
        img{
            height: 45px;
        }
    }

    .navigation{
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 0 1rem;
                font-family: 'ceragr-light';
                color: $dark-gray;
                a{
                    &:active,
                    &:visited{
                        color: $dark-gray;
                    }
                }
                
                a{
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: $mainHL;
                    }
                }
            }
        }
    }
}

.sls-slider{
    width: 100%;
    height: 100vh;
    background: $dark-gray;
    position: relative;
    .js-slides{
        height: 100vh;
        .slick-dots{
            bottom: 0;
            background: transparent;
            padding-bottom: 2rem;
            li{
                button{
                    &:before{
                        font-size: 12px;
                        color: #e2e2e2;
                    }
                }
            } 
        }
        .slick-next {
            right: 0px;
        }

        .slick-prev {
            left: 0px;
            z-index: 99999999;
        }

        .sls-slide-content{
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 2rem;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #000;
                top: 0;
                left: 0;
                opacity: 0.4;
            }
            &.slide-1{
                background: url('../images/1.jpg');
            }
            &.slide-2{
                background: url('../images/2.jpg');
            }
            &.slide-3{
                background: url('../images/3.jpg');
            }
            .slide-inner{
                padding-left: 2rem;
                display: flex;
                .sls-red-rect{
                    height: 90px;
                    width: 50px;
                    background: url('../images/sls.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translate(0, 16px);
                    &+div{
                        padding: 0 0 0 1rem;
                        
                    }
                }
                h2{
                    font-size: 40px;
                    color: $white;
                    font-family: 'ceragr-bold';
                    z-index: 99999;
                    position: relative;
                }
            }
        
        }
    }
}

.grid-section-wrap{
    width: 100%;
    display: block;
    &.red-bg{
        background: $mainHL;
    }

    &.about-sec{
        background: $dark-gray;
    }
}

.grid-section-1{
    display: flex;
    @include container;
    height: 300px;
    align-items: center;

    .box{
        flex-grow: 1;
        max-width: 25%;
        //background: $mainHL;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        .image-box{
            margin-left: 50%;
            transform: translate(-50%);
            //margin-top: 1rem;
            margin-bottom: 1rem;
            width: 50px;
            height: 50px;
            background: url('../images/location.png');
            background-repeat: no-repeat !important;
            background-size: contain !important;
            &.location{
                background: url('../images/location.png');
            }
            &.tick{
                background: url('../images/tick.png');
            }
            &.star{
                background: url('../images/star.png');
            }
            &.ok{
                background: url('../images/ok.png');
            }
            &.about-sec-images{
                width: 100px;
                height: 100px;
                background-position: 50% !important;
            }
            &.fssc{
                background: url('../images/fssc.png');
            }
            &.usfda{
                background: url('../images/usfda.png');
                width: 170px;
            }
            &.gmp{
                background: url('../images/gnp.png');
            }
            &.tea{
                background: url('../images/tea.png');
            }
        }
        .content-box{
            width: 100%;
            height: auto;
            font-family: 'ceragr-light';
            color: $white;
            text-align: center;
            font-size: 10px;
            &.about-sec-content{
                font-size: 12px;
                padding-top: 1rem;
            }
        }
    }
}

.grid-section-2{
    @include container;
}

.about-sec{
    color: $white;
    padding: 2rem;
    box-sizing: border-box;

    h1{
        font-family: 'ceragr-light';
        text-align: center;
        font-size: 30px;
        padding: 1rem;
    }

    p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-family: 'ceragr-light';
        letter-spacing: 2px;
        line-height: 20px;
        font-size: 12px;


    }
}

.sls-min-slider{
    .sls-slider{
        width: 100%;
        height: 300px;
        background: $dark-gray;
        position: relative;
        .js-slides-2,
        .js-slides-3{
            height: 300px;
            .slick-dots{
                bottom: 0;
                background: transparent;
                li{
                    button{
                        &:before{
                            font-size: 12px;
                            color: #e2e2e2;
                        }
                    }
                } 
            }
            .slick-next {
                right: 0px;
            }
    
            .slick-prev {
                left: 0px;
                z-index: 99999999;
            }
    
            .sls-slide-content{
                width: 100%;
                height: 300px;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 2rem;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                position: relative;
                text-align: right;
                &:before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    top: 0;
                    left: 0;
                    opacity: 0.4;
                }
                &.slide-1{
                    background: url('../images/1.jpg');
                }
                &.slide-2{
                    background: url('../images/2.jpg');
                }
                &.slide-3{
                    background: url('../images/3.jpg');
                }
                .slide-inner{
                    padding-left: 2rem;
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    @include container;
                    .sls-red-rect{
                        height: 120px;
                        width: 80px;
                        background: url('../images/sls.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        transform: translate(0, 16px);
                        &+div{
                            padding: 0 0 0 1rem;
                            
                        }
                    }
                    h2{
                        font-size: 40px;
                        color: $white;
                        font-family: 'ceragr-bold';
                        z-index: 99999;
                        position: relative;
                        padding-right: 1rem;
                    }
                }
            
            }
        }
    }
}


.figure-sec{
    display: flex;
    height: 500px;
    align-items: center;
    .figure{
        height: 350px;
        @include container;
        width: 100%;
        background: url('../images/figure-web.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
}
.brands-sec{
    width: 100%;
    @include container;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 570px;
    padding: 1rem;
    box-sizing: border-box;
    .brands{
        width: 100%;
        height: 500px;
        background: url('../images/brands.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }
}

.sls-footer{
    background: $dark-gray;
    height: 300px;
    .contact{
        width: 100%;
        padding: 1rem;
        h2{
            font-size: 30px;
            color: $white;
            font-family: 'ceragr-bold';
            padding-bottom: 2rem;
        }

        ul{
            padding: 0;
            margin: 0;
            font-family: 'ceragr-light';
            color: $white;
            li{
                padding: 0 ;
                margin: 0 0 1rem 50px;
                list-style: none;
                position: relative;
                &.address{
                    &:before{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 100%;
                        background: url('../images/address.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        left: -50px;
                    }
                }
                &.call{
                    &:before{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 30px;
                        background: url('../images/call.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        left: -50px;
                        top: -10px;
                    }
                }
                &.email{
                    &:before{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 30px;
                        background: url('../images/email.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        left: -50px;
                    }
                }
                h5{
                    text-transform: uppercase;
                    font-size: 16px;
                    b{
                        font-family: 'ceragr-bold';
                        font-size: 20px;
                        letter-spacing: 4px;
                    }
                }
            }
        }
    }

    .map{
        background: $mainHL;
        width: 100%;
        height: 300px;
    }
}

.footer-end{
    width: 100%;
    height: 50px;
    background: #595959;
}

@media only screen and (max-width:750px){ 
    .grid-section-1{
        flex-wrap: wrap;
        width: 100%;
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        .box{
            max-width: 50%;
            box-sizing: border-box;
            width: 50%;
        }
    }

    .about-sec{
        color: $white;
        padding: 2rem;
        box-sizing: border-box;
        .grid-section-1{
            padding-bottom: 8rem;
        }
        h1{
            font-family: 'ceragr-light';
            text-align: center;
            font-size: 30px;
            padding: 1rem;
        }
    
        p{
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-family: 'ceragr-light';
            letter-spacing: 2px;
            line-height: 20px;
            font-size: 12px;
    
    
        }
    }
}

@media only screen and (max-width:750px){
    .header{
        display: flex;
        height: auto;
        flex-wrap: wrap;
        width: 100%;
        @include container;
        align-items: center;
    
        .logo{
            display: flex;
            justify-content: center;
            padding: 1rem;
            width: 100%;
            img{
                height: 45px;
            }
        }
    
        .navigation{
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 1rem 0;
            ul{
                display: flex;
                li{
                    list-style: none;
                    padding: 0 1rem;
                    font-family: 'ceragr-light';
                    color: $dark-gray;
                    
                    a{
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            color: $mainHL;
                        }
                    }
                }
            }
        }
    }

    .figure-sec{
        height: 400px;
        .figure{
            height: 350px;
            background: url('../images/figure-mob.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }
    }
    .brands-sec{
        height: 580px;
        .brands{
            background: url('../images/brands-mob.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }
    }

    .sls-footer{
        background: $dark-gray;
        height: auto;
        display: flex;
        .grid-section-1{
            height: auto;
            padding-top: 0;

        }
        .contact{
            width: 100%;
            padding: 1rem;
            order: 1;
            h2{
                font-size: 30px;
                color: $white;
                font-family: 'ceragr-bold';
                padding-bottom: 2rem;
            }
    
            ul{
                padding: 0;
                margin: 0;
                font-family: 'ceragr-light';
                color: $white;
                li{
                    padding: 0 ;
                    margin: 0 0 1rem 50px;
                    list-style: none;
                    position: relative;
                    font-size: 10px;
                    &.address{
                        &:before{
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 100%;
                            background: url('../images/address.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            left: -50px;
                        }
                    }
                    &.call{
                        &:before{
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 30px;
                            background: url('../images/call.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            left: -50px;
                            top: -10px;
                        }
                    }
                    &.email{
                        &:before{
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 30px;
                            background: url('../images/email.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            left: -50px;
                        }
                    }
                    h5{
                        text-transform: uppercase;
                        font-size: 16px;
                        b{
                            font-family: 'ceragr-bold';
                            font-size: 20px;
                            letter-spacing: 4px;
                        }
                    }
                }
            }
        }
    
        .map{
            background: $mainHL;
            width: 100%;
            height: 300px;
        }
    }

    .sls-min-slider{
        .sls-slider{
            width: 100%;
            height: 300px;
            background: $dark-gray;
            position: relative;
            .js-slides-2{
                
                .sls-slide-content{
                    
                    .slide-inner{
                        h2{
                            font-size: 20px;
                        }
                    }
                
                }
            }
        }
    }

    .sls-slider .js-slides .sls-slide-content .slide-inner h2{
        font-size: 28px;
    }

    .sls-slider .js-slides .sls-slide-content .slide-inner{
        padding-left: 0rem;
    }
    
    
}

@import 'media';